<h1>Editing chileregion</h1>

<%= render "form", chileregion: @chileregion %>

<br>

<div>
  <%= link_to "Show this chileregion", @chileregion %> |
  <%= link_to "Back to chileregions", chileregions_path %>
</div>
