<div id="<%= dom_id tipo_entidad %>">
  <p>
    <strong>Entidad:</strong>
    <%= tipo_entidad.entidad %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tipo_entidad.descripcion %>
  </p>

</div>
