<h1>Editing tipo entidad</h1>

<%= render "form", tipo_entidad: @tipo_entidad %>

<br>

<div>
  <%= link_to "Show this tipo entidad", @tipo_entidad %> |
  <%= link_to "Back to tipo entidads", tipo_entidads_path %>
</div>
