<h1>Editing licitacion</h1>

<%= render "form", licitacion: @licitacion %>

<br>

<div>
  <%= link_to "Show this licitacion", @licitacion %> |
  <%= link_to "Back to licitacions", licitacions_path %>
</div>
