<div id="<%= dom_id estado_licitacion %>">
  <p>
    <strong>Estado:</strong>
    <%= estado_licitacion.estado %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= estado_licitacion.descripcion %>
  </p>

</div>
