<h1>Editing estado licitacion</h1>

<%= render "form", estado_licitacion: @estado_licitacion %>

<br>

<div>
  <%= link_to "Show this estado licitacion", @estado_licitacion %> |
  <%= link_to "Back to estado licitacions", estado_licitacions_path %>
</div>
